/*RESPONSIVE STYLES*/
@media (max-width: 1082px) {
	body{
		background: url(../img/bg.png);
		background-size: cover;
		background-position-x: 50%;
	}
	svg{
		display: none;
	}
	.main-welcome{
		padding: 7rem 0rem;
	}

	.col-gen {
		width: 100%;
		display: block;
		float: left;
		height: 33.3%;
		position: relative;   
		z-index: 111;
	}
	.col-info-hover{
		font-size:0.8rem;
		line-height:0.9rem;
		bottom:1.4rem;
		right:0;
		padding:1rem;
		position:relative;
		width:80%;
		text-align:left;
		letter-spacing:1px;
		font-weight:200;
		color:transparent;
		opacity:0;
	}
	.col-title {
		transform: rotate(0deg);
		color: #fff;
		font-size: 2.5rem;
		position: absolute;
		bottom:1rem;
		left:1rem;
		transform-origin: 0;
		font-weight: 200;
		position:relative;
		margin-top:30%;
		width:100%;
		text-align:left;
	}
	.block-1.active {
		width: 100%;
		float: right;
		background: #fff;
		height: 100%;
		position: relative;
	}
	.col-gen.minus {
		display:none;
	}
	.block-2{
		width:100%;
		position: absolute;
		top:0;
	}
	.block-2.active {
		width: 100%;
		float: right;
		background: #fff;
		height: 100%;
		position: relative;
	}
	.news-image img {
		position: relative;
		left: 0;
		top: 0;
		height: auto;
		width: 100%;
		-webkit-transform: translate(0);
		-ms-transform: translate(0);
		transform: translate(0);
	}
	.news-image {
		height: auto;
	}
	.block-3{
		padding-top:7rem;
		padding-bottom:4rem;
		width:100%;
		position: absolute;
		top:0;
	}
	.block-3.active {
		width: 100%;
		float: right;
		background: #fff;
		height: 100%;
		position: relative;
		overflow:auto;
		margin-bottom: 10rem;
		padding-top: 7rem;
	}
	.row-contact{
		height: 24%;
		width: 100%;
		margin: 0%;
		margin-top: 0%;
		left: 0;
		right: 0;
		padding-top: -8%;
		text-align:center;
	}
	.go-top{
		display: none;
	}
	.col-contact-right {
		width: 48%;
		display: inline-block;
		vertical-align: top;
		padding-left: 2%;		
		filter: grayscale(100%);
		height: 90%;
		padding-top: 2%;
	}
	.address-container{
		font-size: 0.7rem;
		padding: 0.2rem 0.2rem;
		text-align:left;
		line-height: 0.8rem;
	}
	.col1-bg {
	    transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.68, 0.25);
	}

	.col2-bg {
	    transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.68, 0.25);
	}

	.col3-bg {
	    transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.68, 0.25);
	}
	#back-button{
	 	display: block;
	 	position: absolute;
	 	top: 5rem;
	 	left: 1rem;
	 	width: 2rem;
	 	height: 2rem;
	 	/* opacity: 1; */
	 	z-index: 111111;
	 }
	#back-button .inner-back-button{
	 	display: none;
	 	background: url(../img/leftb.png);
	 	background-repeat: none;
	 	background-size: cover;
	 	border-radius: 50%;
	 	z-index: 999999999999999;
	 	height: 2rem;
	 	width: 2rem;
	 	/* opacity: 1; */
	 }
	 .language-menu {
		position: fixed;
		top: 0.7rem;
		right: 5.5rem;
		z-index: 11111;
	}
	.voeral-logo {
		margin: 1.3rem 1rem 1rem 0rem;
		
	}
	.voeral-logo img{
		width:80%;		
	}
	.burger-menu {
		padding: 1rem 0.2rem;
		margin: 1rem;
		width: 2rem;
	}
	.main-logo img{
		width:50%;
	}
	.scroll-ico{
		display:none;
	}
	.main-welcome-inner {
		padding: 0;
	}
	.main-welcome h1{
		text-align:center;
		font-size: 1.3rem;
		padding: 0 1rem;
	}
	.main-welcome-text{
		padding:0 2rem;
		text-align:center;
		width: 80%;
	}
	 .block-2 .y-scroll{
	 	display: block;
	 	background:#f6f9fb url(../img/yscroll.png);
	 	width: 2.2rem;
	 	height: 2.2rem;
	 	background-size: cover;
	 	position: absolute;
	 	bottom: 0.2rem;
	 	left: 45%;
	 }
	 .title-resp{
	 	display: block;
	 	width: 100%;
	 	font-size: 1.8rem;
	 	text-align: center;
	 	font-family: 'Source Sans Pro', sans-serif;
	 	font-weight: 300;
	 	position: absolute;
	 	top: 5rem;
	 }
	 .country-header{
	 	font-size:1.3rem;
	 	height: 18%;
	 }
	 .news-title {
	    font-size: 0.6rem;
	}
	.news-text {
	    max-height: 22%;
	}
	.menu-sections ul li {
	    font-size: 3rem;
	}
}
