/*STYLE.CSS VOERAL*/


/*FONTS*/
/*
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
body{
	overflow-x:hidden;
}
.burger-menu{
	position: fixed;
	top:0;
	right: 0;
	padding: 1rem;
	margin:2rem;
	width: 3rem;
	z-index: 11111;
}
.burger-menu img{
	width:100%;
}
.burger-menu .menu-img{
	display: block;
}
.burger-menu .close-img{
	display: none;
}
.burger-menu.active .menu-img{
	display: none;
}
.burger-menu.active .close-img{
	display: block;
}
.modal-menu{
	position:fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 98%;
    height: 95%;
    margin: 1rem auto;
	opacity: 0;
	background: #000;
	transition: opacity 1s;
}
.modal-menu.active{
	opacity: 0.8;
	z-index: 1111;
	transition: opacity 1s;
}
/*SVG FONDO*/

svg {
    position: fixed;
    z-index: -11111;
}
.language-menu{
	position: fixed;
	top:2rem;
	right: 10rem;
	z-index: 11111;
}
.btn-es, .btn-en, .btn-fr{
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
	color: #fff;
	display: inline-block;
	padding: 0.5rem;
	z-index: 11111;
	cursor: pointer;
}
.menu-sections{
	width: 100%;
	padding-top: 20%;
	text-align: center;
}
.menu-sections ul li{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 4rem;
	color: #fff;
	list-style: none;
}
/*MAIN SCREEN*/
.main-screen{
	z-index:1110;
}

.main-logo {
    position: absolute;
    top: 50%;
    left: 48%;
}


/*COLS*/

.col-container {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 111;
    text-align: center;
}

.col-gen {
    width: 33.3%;
    display: inline-block;
    /* border: 1px solid black; */
    float: left;
    height: 100%;
    position: relative;
}

.col1-bg {
    background: url("../img/bg1.png");
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}

.col2-bg {
    background: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}

.col3-bg {
    background: url("../img/bg3.png");
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}
.col1.active-alt{
	float:right;
}
.col2.active-alt{
	float:left;
}
/*COLS CONTENT*/
.block-1{
	width:66.6%;
	float:right;	
    background: #fff;
    right:0;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.block-2{
	width:66.6%;
	float:right;	
    background: #fff;
    right:0;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.block-2.active{
	opacity: 1;
    z-index: 1111;
}
.block-1.active{
	opacity: 1;
    z-index: 1111;
}
.block-3{
	width:66.6%;
	float:left;	
    background: #fff;
    left:0;
    height: 100%;
    position: absolute;
    opacity: 0;

}
.block-3.active{
	opacity: 1;
    z-index: 1111;
}
.content-1 {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
}

.content-2 {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
}

.content-3 {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
}
.col-title{
	font-family: 'Source Sans Pro', sans-serif;
	transform: rotate(-90deg);
	color: #fff;
	font-size: 5rem;
	position: absolute;
	bottom: 0;
	transform-origin: left top 0;
}
.col-info-hover{
	color:#fff;
	position: absolute;
	bottom:5rem;
	right:0;
	width:65%;
	padding:2rem;
	text-align:left;
	transition: opacity 0.7s ease-in;
	opacity: 0;
}
.col-gen:hover .col-info-hover{
	opacity:1;
}
.active .content-1{
	opacity: 1;
}
.active .col1-bg{
	opacity: 0;
}
.active .content-2{
	opacity: 1;
}
.active .col2-bg{
	opacity: 0;
}
.active .content-3{
	opacity: 1;
}
.active .col3-bg{
	opacity: 0;
}

/*CONTENIDOS BLOQUES*/
/*BLOQUE CONTACTO*/
.voeral-logo{
	text-align: left;
	padding: 1rem 0 0 1rem;
}
.row-contact{
	height: 30%;
	width: 98%;
	background: #ccc;
	margin: 1%;
	left: 0;
	right: 0;
}
.col-contact-left{
	width:50%;
	display: inline-block;
}
.col-contact-right{
	width:49%;
	display: inline-block;
}
.country-header{
	font-family: 'Oswald', sans-serif;
	text-align: left;
	padding-left: 0.3rem;
	margin: 0.3rem 0 0 0;
}
.address-container{
	border: 3px solid black;
	text-align: left;
	width: 80%;
	padding: 1rem;
	margin: 0.3rem;

}